@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .link{
    @apply text-neon-green no-underline transition-colors hover:underline hover:decoration-2
  }
}

@font-face {
  font-family: "Manrope";
  src: url("../../assets/fonts/Manrope-ExtraBold.ttf");
  font-weight: 800;
}
